*, *::before, *::after {
    box-sizing: border-box;
    font-family: cursive;
}
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}
body.correct {
    --hue: var(--hue-correct);
}
body.wrong {
    --hue: var(--hue-wrong);
}
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0px;
}
.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
.btn:hover{
    border-color: black;
}
.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}
.btn.wrong{
    --hue: var(--hue-wrong);
}
.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}
.first {
    background-color: black;
    height: 100%;
    width: 100%;
    color: white;
    font-family: cursive;
}
.right {
    margin: 130px;
    float: right;
}
.right h2 {
    font-size: 25px;
    animation: color 3s infinite;
}
@keyframes color {
    0% {
        color: blue;
    }
    35%{
        color: rgb(61, 19, 96);
    }
    70%{
        color: rgb(81, 12, 86);
    }
    100%{
        color: black;
    }
}
.right ul li {
    list-style: none;
    margin-top: 3px;
}
.right ul {
    margin-top: 80px;
}
.here {
    margin-top: 10px;
    font-size: 33px;
}
.left {
    float: left;
}
.left img {
    margin: 80px 0px 0px 5px;
}
.continueBtn {
    width: 120px;
    height: 30px;
    color: white;
    background-color: aqua;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s ease;
    margin: 5px 0px 0px 270px;
}
.continueBtn:hover {
    border: 1.5px solid aqua;
    background-color: white;
    color: aqua;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
